<script type="text/javascript">
    function submit_form(control_name) {
        document.banquet_form.submit();
    }}</script>

My banquet entries for
{% include 'inc/month_and_season_select_form.html.twig' %}

<p>Select up to 5 entries</p>
{{ form_start(form) }}
<table class="banquet form_frame" width="99%">
            <tr>
            <th>Banquet Entry</th>
            <th width="12%">Date</th>
            <th>Theme</th>
            <th>Competition</th>
            <th>Title</th>
            <th width="8%">Score</th>
            <th width="8%">Award</th>
            <th width="3%"></th>
            </tr>

{% if not set data.scores %}
        <tr><td colspan=\"6\">No eligible banquet entries</td></tr>
        </table>
{% else %}
    {% endif %}
{{ form_end(form) }}