{% if images %}
    <div class="gallery gallery-masonry gallery-columns-3">
        <div class="grid-sizer" style="width: 200px"></div>
        <div id="images"></div>
        <script type="text/javascript">
            function getRpsMasonryItems() {
                var items = '';
                {% for image in images %}
                items += '{% include 'photo_masonry.js.twig' %}';
                {% endfor %}
                return jQuery(items);
            }
        </script>
    </div>
{% endif %}