// Cache busting line record: 1
$base-font-size: 13px;
$base-line-height: $base-font-size * 1.5;
$rhythm-unit: rem;

//$round-to-nearest-half-line: true;
//$min-line-padding: 0px;

$flex-legacy-enabled: true;